
body {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    background-color: #ffffff;;
}

.sidenav {
    color: #818181;
    margin-top: 0px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 0px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.avatar {
    display: block;
    float: left;
    border: 5px solid rgb(40, 201, 207);
    max-width: 150px;
    max-height: 300px;
    margin-right: 39px;
}

.content {
    display: block;
    float: right;
    margin-top: 0px;
    margin-left: 160px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('background.jpg');
    background-size: cover;
}

.sidetext {
    color: #818181;
    padding: 6px 8px 6px 16px;
}

.greeting {
    overflow:hidden;
    max-width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-family: "Lato", sans-serif; 
    color: #818181;
    font-size: 50px;
    
}

ul {
          list-style-type: none;
}
