{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <h2>Accounts</h2>
        <ul>
            {% for account in object_list %}  
                <li>Account {% if request.user.is_superuser %}of {{ account.user }} {% endif %} {{ account.id }}: {{ account.balance }}</li>
            {% endfor %}
        </ul>
        <form action="" enctype="multipart/form-data" method="POST">
            <div class="form">
                {% if request.user.is_superuser %}
                    {{ form.account.label }} {{ form.account }}
                    {{ form.amount.label }} {{ form.amount }}
                    <br><input type="submit" class="send-button" value="Send">
                {% endif %}
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

    
