{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <h2>Transfers</h2>
        {% for transfer in object_list.qs %}
            <ul>
                <li>From: {{ transfer.from_account }}</li>
                <li>To: {{ transfer.to_account }}</li>
                <li>Amount: {{ transfer.amount }}</li>
            </ul>
        {% endfor %}
        <form action="" enctype="multipart/form-data" method="post">
            <div class="form">
            {{ form.from_account.label }} {{ form.from_account }}
            {{ form.to_account.label }} {{ form.to_account }}
            {{ form.amount.label }} {{ form.amount }}
            <br><input type="submit" value="Send" style="width:250px; height:40px;
                    border: 0;
                    border-radius: 0.375em;;
                    background:linear-gradient(180deg, rgba(52, 183, 89, 0.15) 0%, rgba(46, 164, 79, 0) 100%),#2ea44f !important;
                    color:#fff;
                    z-index: 1;
                    font-size:18px;
                    cursor:pointer; margin: 20px;">
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="filter">
        <h3 class="filter-header">Filters</h3>
        <form method="GET">
            {{ object_list.form.as_p }}
            <td><input type="submit" value="Search"></td>
        </form>
    </div>
{% endblock %}



