{% extends 'base.html' %}



{% block content %}
    {% if user.is_authenticated %}
    {% if image %}
            {% load static %}
                <img class="avatar" src="{% static image %}"  alt="My image">
        {% endif %}
        
        <ul>
            <li {list-style-type: none;}>Name: {{ name }}</li>
            <li>Surname: {{ surname }}</li>
            <li>Age: {{ age }}</li>
            <li>Location: {{ city }}</li>
        </ul>
    {% else %}
        <div class="greeting">Добро пожаловать в наш топ банк</div>
    {% endif %}
{% endblock %}

    
